{% extends "base.html" %} {% block title %}Crypto{% endblock %} {% block
content%}

<div class="wrapper">
  <span class="icon-close"><ion-icon name="close"></ion-icon></span>
  <div class="form-box login">
    <h2>Login</h2>
    <form method="POST">
      <div class="input-box">
        <span class="icon"><ion-icon name="mail"></ion-icon></span>
        <input type="email" name="email" required />
        <label>Email</label>
      </div>
      <div class="input-box">
        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
        <input type="password" name="password" required />
        <label>Password</label>
      </div>
      <button type="submit" class="btn" value="login" name="submit_button">
        Login
      </button>
      <div class="login-signup">
        <p>Don't have an account?</p>
        <a href="#" class="signup-link">Sign Up</a>
      </div>
    </form>
  </div>

  <div class="form-box signup">
    <h2>Sign Up</h2>
    <form method="POST">
      <div class="input-box">
        <span class="icon"><ion-icon name="mail"></ion-icon></span>
        <input type="email" name="signupEmail" required />
        <label>Email</label>
      </div>
      <div class="input-box">
        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
        <input type="password" name="signupPass1" required />
        <label>Password</label>
      </div>
      <div class="input-box">
        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
        <input type="password" name="signupPass2" required />
        <label>Password (Confirm)</label>
      </div>
      <button type="submit" class="btn" value="signup" name="submit_button">
        Sign Up
      </button>
      <div class="login-signup">
        <p>Already have an account?</p>
        <a href="#" class="login-link">Login</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
