{% extends "learning.html" %} {% block title %}Affin{% endblock %} {% block
middleLearning%}
<div class="p1" data-id="1">
  <h2>Affin - Origin</h2>
  <p>
    The Affine cipher has its roots in ancient civilizations. It is believed to
    have been used by the Romans around the 1st century BC. The Roman military
    commander Julius Caesar is often associated with an early version of the
    Affine cipher, known as the Caesar cipher or Caesar's cipher.
  </p>
  <p>
    The concept of the Affine cipher as a generalization of the Caesar cipher
    emerged later. The Affine cipher was developed as a more advanced
    cryptographic technique that allowed for a wider range of encryption
    possibilities.
  </p>
</div>
<div class="p2" data-id="2">
  <h2>Affin - Description</h2>
  <p>
    The Affine cipher is based on the mathematical concept of an affine
    transformation. An affine transformation is a linear function that combines
    two operations: a multiplication (modular arithmetic) and an addition
    (modulo operation).
  </p>
  <p>
    The parameters used in the Affine cipher are the encryption key ('a') and
    the modular arithmetic base ('b'). Assuming that 'p' is the numerical code
    of a letter in the plaintext and 'c' is its corresponding to the encrypted
    numeric code, the encryption formula is as follows:
  </p>
  <p align="center">c = (a · p + b) (mod 26)</p>
  <p>
    If the a<sup>-1</sup> is the multiplicative inverse of the number 'a'
    according to 26, i.e the following relation holds:
  </p>
  <p align="center">a · a<sup>-1</sup> = 1 (mod 26)</p>
  <p>then the decryption formula will be:</p>
  <p align="center">p = (a<sup>-1</sup> · c - a<sup>-1</sup> · b) (mod 26)</p>
</div>

<div class="p3" data-id="3">
  <h2>Affin - Security / Example</h2>
  <p>
    Over time, cryptanalysts have developed techniques to break the Affine
    cipher. The simplicity of the algorithm and the limited key space make it
    susceptible to brute-force attacks and frequency analysis methods.
  </p>
  <p>
    Although the Affine cipher is no longer considered secure for modern
    cryptographic purposes, it is still studied and used in educational settings
    to illustrate fundamental concepts of encryption and decryption. It serves
    as an introduction to more complex ciphers and cryptographic techniques.
  </p>
  <img
    width="100%"
    src="{{url_for('static',filename='images/affin-cipher.png')}}"
  />
</div>
<div id="footer">
  <form id="moveBtns">
    <span>
      <input class="moveBtn" type="button" name="prev" value="Previous" />
      <input class="moveBtn" type="button" name="next" value="Next" />
    </span>
  </form>
</div>
{% endblock %} {% block sideLearning%} {% endblock %}
