#container {
  position: fixed;
  width: 45%;
  padding-top: 20px;
}

#mainTitle {
  color: rgba(241, 196, 15, 0.9);
}

#containerLogin {
  position: fixed;
  width: 35%;
  padding-top: 230px;
  left: 2%;
}

#langSwitcher {
  width: 80px;
  display: flex;
  position: fixed;
  right: 20px;
  top: 20px;
}

#sbmButton {
  width: 30%;
}

#ptext {
  height: 150px;
  max-height: 200px;
  min-height: 50px;
  width: 100%;
  margin-top: 3px;
}

#algChooser {
  color: rgba(241, 196, 15, 0.9);
  font-size: large;
}

#homeTitle {
  color: rgba(241, 196, 15, 0.9);
}

#msg {
  -webkit-animation: cssAnimation 3s forwards;
  animation: cssAnimation 3s forwards;
  left: -30%;
}

#data {
  list-style-type: none;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

#inputContainer {
  max-width: 80%;
}

@keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(images/CryptorithmBackground.png) no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  right: 10%;
  width: 60%;
  height: 22%;
  padding: 4.3% 0%;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 99;
}

.closeBtn {
  color: black;
}

.algLabel {
  color: rgba(241, 196, 15, 0.9);
  font-size: medium;
  padding: 10px;
}

.list-container {
  max-height: 250px;
  overflow-y: auto;
  border-radius: 2px;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: rgba(241, 196, 15, 0.9);
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  display: inline;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: rgba(88, 88, 88);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid rgba(88, 88, 88);
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: rgba(241, 196, 15, 0.9);
  font-weight: 500;
  margin-left: 30px;
  transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
  background-color: rgba(88, 88, 88);
  color: rgba(241, 196, 15, 0.9);
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  left: 25%;
  background: transparent;
  border: 2px solid (255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px (0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  background-color: rgba(241, 196, 15, 0.9);
  transition: transform 0.5s ease, height 0.2s ease;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 450px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  position: absolute;
  transform: translateX(-400px);
}

.wrapper .form-box.signup {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.signup {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: rgba(88, 88, 88);
  font-size: 2em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  color: rgba(88, 88, 88);
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid rgba(88, 88, 88);
}

.input-box label {
  position: absolute;
  top: 40%;
  left: 5px;
  font-size: 1em;
  color: rgba(88, 88, 88);
  font-weight: 500;
  pointer-events: none;
  transition: 0.4s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: 3px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: grey;
  font-weight: 600;
  padding: 15px 0px 0px 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: rgba(88, 88, 88);
  line-height: 57px;
}

.btn {
  width: 100%;
  height: 45px;
  background: rgba(88, 88, 88);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  font-weight: 500;
  margin: 10px 0px;
}

.login-signup {
  font-size: 1em;
  color: rgba(88, 88, 88);
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-signup p a {
  color: rgba(88, 88, 88);
  text-decoration: none;
  font-weight: 600;
}

.login-signup p a:hover {
  text-decoration: underline;
}

#containerLearn {
  position: fixed;
  width: 90%;
  top: 20%;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side.left {
  width: 25%;
  padding-top: 8%;
}

.column.side.right {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
